<header>
  <div class="container-header">
    <div class="d-flex" id="wrapper">
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Admin de Hoteles </div>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-light">Home</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Crear Hotel</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Lista de Hoteles</a>
        </div>
      </div>
    </div>
    <div class="header__hamburguer-icon">
      <button id="toggler-btn" class="navbar-toggler btn" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i id="clpse-icon" class="fa fa-bars fa-bars-animated fs-2"></i>
      </button>
    </div>
    <div class="header__logo-icon">
      <i class="fa fa-leaf fs-2"></i>
    </div>
    <div class="header__title">
      <span class="fs-4">Administrador de hoteles</span>
    </div>
  </div>
</header>
