<app-header></app-header>
<section class="container container-title">
    <h2 class="title--position">Bienvenido a la lista de {{ title }}</h2>
</section>
<app-section-separator></app-section-separator>
<section class="container container-button">
    <a class="btn btn-dark btn-lg button--position" [routerLink]="['/create', numberOption ? 'Hotel' : 'Huesped', buscarHotel]" routerLinkActive="active">
        Crear un nuevo {{ title }}
      </a>
</section>
<app-section-separator></app-section-separator>
<section class="container-list container">
    <div class="row triplet-cards" >
        <div class="col-4" id="{{item.id}}" *ngFor="let item of items;let i = index">
            <app-item-card [id]="item.id" [field1]="item.name" [field2]="item.direction || item.document" [field3]="item.Estate || item.email" [field4]="item.phone" [numberOption]="numberOption"></app-item-card>
            <app-section-separator></app-section-separator>
        </div>
    </div>
</section>
<app-footer></app-footer>
