.card {
    display: flex;
    flex-direction: row;
}

.list-group-item{
    padding: 0.5rem 0rem;
}

.list-group-item--position {
    width: 95%;
    margin-inline-start: auto;
}

.card__footer--position {
    display: flex;
    flex-direction: row;
}

.card__footer--position a {
    display: flex;
    flex-direction: column;
}